{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindcss/tailwindcss": true,
  "bracketSpacing": false,
  "bracketSameLine": true,
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "useTabs": false,
  "trailingComma": "all"
}
